<h1>Your Answer</h1>

<p>
  <strong>Question:</strong> <%= @question %>
</p>

<p>
  <strong>Answer:</strong> <%= @coach_answer %>

</p>

<%= link_to 'Ask another question', ask_path, class: 'btn btn-primary' %>
